<h1>Welcome</h1>
<p>Insomnia Consulting is a software development company which strives to meet the needs of smaller companies and startups.</p>
<p>Over the years, we've noticed that a business has limited choices when it comes to developing software.  They can hire fulltime IT employees, employ an expensive consulting company, or try to deal with individual programmers.</p>
<p>All these options bring complications.  Whether it's a long-term labor commitment, a short-term, drain on cash, or a reliance on a single individual.</p>
<p>Insomnia Consulting addresses this by maintaining a pool of freelance developers who, because they are working in their freetime, will usually work at a reduced rate for "extra" cash.  And.. because your contact is with Insomnia, you'll always have a company to rely on and manage the transition between programmers.</p>
